In [2]:
import sqlite3
import pandas as pd
import numpy as np
import re
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Embedding, SpatialDropout1D, Bidirectional, LSTM, Dense
from keras_tuner.tuners import RandomSearch, Hyperband

In [3]:
file = r"C:\Users\lucie\Documents\Programmation\PFE_Analayse_musicale\Chords_analysis\data\out.csv"
df_aam = pd.read_csv(file)

In [11]:
df_aam

                                                 start         end chords
NaN                                          StartTime  Chordsname  notes
0,0.65217394,Fmaj,"['F', 'A', 'C']"                NaN         NaN    NaN
1,1.3043479,Fmaj,"['F', 'A', 'C']"                 NaN         NaN    NaN
2,1.9565217,Fmaj,"['F', 'A', 'C']"                 NaN         NaN    NaN
3,2.6086957,A#maj,"['A#', 'C##', 'E#']"            NaN         NaN    NaN
...                                                ...         ...    ...
293307,159.67743,D#min,"['D#', 'F#', 'A#']"        NaN         NaN    NaN
293308,160.40913,F#maj,"['F#', 'A#', 'C#']"        NaN         NaN    NaN
293309,161.14084,F#maj,"['F#', 'A#', 'C#']"        NaN         NaN    NaN
293310,161.87254,F#maj,"['F#', 'A#', 'C#']"        NaN         NaN    NaN
293311,162.60425,F#maj,"['F#', 'A#', 'C#']"        NaN         NaN    NaN

[293313 rows x 3 columns]

In [14]:
df_aam['notes'] = df_aam['notes'].fillna('nan')

In [15]:
df_bis = pd.DataFrame()
df_bis['notes'] = df_aam['notes'].str.replace('[','')
df_bis['notes'] = df_bis['notes'].str.replace(']','')
df_bis['notes'] = df_bis['notes'].str.replace("'",'')
df_bis['notes'] = df_bis['notes'].str.replace(' ','')
df_bis.head()

       notes
0      F,A,C
1      F,A,C
2      F,A,C
3  A#,C##,E#
4  A#,C##,E#

In [16]:
long = []

for val in df_bis['notes']:
    long.append(len(val))

# La variable max_features devrait contenir la longueur maximale de vos séquences, pas la valeur maximale des longueurs
max_sequence_length = np.max(long)

tokenizer = tf.keras.preprocessing.text.Tokenizer(num_words=7, split=',')
tokenizer.fit_on_texts(df_aam['notes'].values)
X = tokenizer.texts_to_sequences(df_aam['notes'].values)

# Ajoutez la spécification de la longueur maximale de la séquence (input_length) ici
X = tf.keras.preprocessing.sequence.pad_sequences(X, maxlen=max_sequence_length)

# Affichez la forme de X pour voir la longueur maximale
print("Shape of X:", X.shape)

Shape of X: (293312, 9)